body {
    background-color: rgb(32, 31, 31);
}

/* GOOGLE IMAGE --------------------------------------------------------------------------------------- */
.googleSearchBox {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center; /*horizontal align*/
    /* align-items: center; */
    height: 480px;
    /* width: 100%; */
    align-content: space-between;
}

.googleImgContainer {
    width: 100%;
    padding-left: 1150px;
    /* padding-right: 1100px; */
    align-self: center;
}

.searchBoxInput {
    width: 100%;
    padding-left: 950px;
    padding-top: 30px;
    align-self: center;
}

.searchInput {
    height: 40px;
    width: 500px;
    border-radius: 25px;
}

/* NAVIGATION BARS ---------------------------------------------------------------------------------------*/
.topNavBar ul,
.bottomNavBar ul {
    list-style-type: none;
}
.bottomNavBar ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0;
}
.topNavBar li {
    float: right;
}
.bottomNavBar li {
    float: left;
}
.topNavBar li a,
.bottomNavBar li a {
    display: block;
    padding: 8px;
    background-color: rgb(32, 31, 31);
}
.whiteText a {
    color: rgb(199, 189, 189);
    text-decoration: none;
    font-family: Arial;
}
.whiteText a:hover {
    text-decoration: underline;
}
.floatRight {
    float: right !important;
}
.fontSmall {
    font-size: 13px;
}
.fontMedium {
    font-size: 15px;
}